.general-home-container {
  display: flex;
  flex-direction: row;
}

.col {
  height: 100vh;
  max-height: 800px;
  &__left {
    width: auto;
  }

  &__right {
    width: 100%;
    background-color: #ede9e9;
    overflow-y: auto;
  }
}
